<!-- <div class = "card">
  <div class = "card-header d-flex align-items-center">
    <span>
      Listing Staffs
    </span>
    <a href="/staffs/new" class="btn btn-outline-secondary ms-auto">New Staff</a>
  </div> -->
  <div class = "card tw-p-8 tw-mx-auto tw-max-w-xl">
  <div class = "tw-flex tw-flex-row tw-items-start">
    <p class="tw-text-4xl tw-text-gray-700 tw-font-bold">Staff</p>
    <a href="/staffs/new" class="tw-p-4 tw-text-white tw-transition tw-rounded-lg tw-bg-uospurple hover:tw-bg-opacity-70 tw-drop-shadow hover:tw-drop-shadow-lg hover:tw-text-white ms-auto">New Staff</a>
  </div>
    <hr class="tw-my-8" />
  <div class="">
    <!-- <div style="float:left;width:100%%;"> -->
      <table class="tw-w-full tw-my-4 tw-table-auto">
        <thead class="tw-bg-gray-300">
          <th class="tw-px-4 tw-py-2">
            User
          </th>
          <th class="tw-px-4 tw-py-2">
            Actions
          </th>
        </thead>
        <tbody>
          <% @staffs.each do |staff|%>
            <tr class="tw-transition odd:tw-bg-gray-100 even:tw-bg-white hover:tw-bg-gray-200">
              <td class="tw-px-4 tw-py-2 tw-border"><%= staff.username %></td>
              <td class="tw-px-4 tw-py-2 tw-border">
                <div class="btn-toolbar float-end">
                  <a href="/staffs/<%=staff.id%>/edit" class="tw-py-2 tw-px-4 tw-text-gray-700 tw-transition tw-rounded-lg tw-bg-gray-200 hover:tw-bg-gray-100 tw-drop-shadow hover:tw-drop-shadow-lg hover:tw-text-gray-900 tw-ml-2">Edit</a>
                  <a href="/staffs/<%=staff.id%>" data-method="delete" class="tw-py-2 tw-px-4 tw-text-white tw-transition tw-rounded-lg tw-bg-red-600 hover:tw-bg-red-400 tw-drop-shadow hover:tw-drop-shadow-lg hover:tw-text-white tw-ml-2">Remove</a>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <!-- </div> -->
  </div>
  

</div>