<div class = "card">
  <div class = "card-header d-flex align-items-center">
    <span>
      Listing Staffs
    </span>
    <%  if can? :manage, Staff %>
      <a href="/staffs/new" class="btn btn-outline-secondary ms-auto">New Staff</a>
    <% end %>
  </div>
  <div class="body">
    <div style="float:left;width:100%%;">
      <table class="table">
        <thead>
          <th>
            User
          </th>
          <th>
            Actions
          </th>
        </thead>
        <tbody>
          <% @staffs.each do |staff|%>
            <tr>
              <td><%= staff.username %></td>
              <td>
              <%  if can? :manage, Staff %>
                <a href="/staffs/<%=staff.id%>/edit" style="color: blue">Edit</a>&nbsp;/&nbsp;
                <a href="/staffs/<%=staff.id%>" data-method="delete" style="color: red">Remove</a>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  

</div>