<!-- why does the background not work >:( -->
<div
  class="min-h-screen bg-[radial-gradient(ellipse_at_bottom_right,_var(--tw-gradient-stops))] from-slate-900 via-purple-900 to-slate-900 w-full overflow-hidden bg-gray-50"
>
  <div class="p-8 bg-white sm:rounded-lg sm:shadow-lg sm:m-24 border">
    <div class="flex flex-row justify-between">
      <p class="text-4xl font-bold text-gray-700">WMG Calculator Prototype</p>
      <div
        class="flex flex-col justify-center space-x-4 sm:flex-row sm:items-center"
      >
        <button
          onclick="window.location.href='/'"
          class="p-4 text-white transition rounded-lg w-36 bg-uospurple hover:bg-opacity-70 drop-shadow hover:drop-shadow-lg"
        >
          <p>Reset Filters</p>
        </button>
        <button onclick="myfun()"
          class="p-4 text-white transition rounded-lg w-36 bg-uospurple hover:bg-opacity-70 drop-shadow hover:drop-shadow-lg"
        >
          <p>Print</p>
        </button>
        <script type="text/javascript">
            function myfun() {
              window.print();
            }
        </script>
        <button
          class="p-4 text-white transition rounded-lg w-36 bg-uospurple hover:bg-opacity-70 drop-shadow hover:drop-shadow-lg"
        >
          <p>Overview</p>
        </button>
      </div>
    </div>
    <hr class="my-8" />
    <!-- {loading ? ( -->
    <!-- <p class="text-2xl font-bold text-gray-400">Loading...</p> -->
    <!-- ) : ( -->
    <div class="flex flex-row">
      <!-- <MainDisplayTable data={data} className="w-5/6" />
          <MainDisplaySidebar data={data} className="w-1/6" /> -->
      <%= render partial: "main/partials/main_display_table", locals: { data:
      @data} %> <%= render partial: "main/partials/main_display_sidebar",
      locals: { short: false } %>
    </div>
  </div>
</div>
