<!-- why does the background not work >:( -->
<div
  class="tw-w-full tw-overflow-hidden"
>
  <div
    class="tw-p-8 tw-bg-white sm:tw-rounded-lg sm:tw-shadow-lg tw-border"
  >
    <div class="tw-flex tw-flex-row tw-justify-between">
      <p class="tw-text-4xl tw-font-bold tw-text-gray-700">
        WMG Calculator Prototype
      </p>
      <div
        class="tw-flex tw-flex-col tw-justify-center tw-space-x-4 sm:tw-flex-row sm:tw-items-center"
      >
        <button
          class="tw-p-4 tw-text-white tw-transition tw-rounded-lg tw-w-36 tw-bg-uospurple hover:tw-bg-opacity-70 tw-drop-shadow hover:tw-drop-shadow-lg"
        >
          <p class="tw-my-auto">Add</p>
        </button>
        <button
          class="tw-p-4 tw-text-white tw-transition tw-rounded-lg tw-w-36 tw-bg-uospurple hover:tw-bg-opacity-70 tw-drop-shadow hover:tw-drop-shadow-lg"
        >
          <p class="tw-my-auto">Print</p>
        </button>
        <button
          class="tw-p-4 tw-text-white tw-transition tw-rounded-lg tw-w-36 tw-bg-uospurple hover:tw-bg-opacity-70 tw-drop-shadow hover:tw-drop-shadow-lg"
        >
          <p class="tw-my-auto">Overview</p>
        </button>
      </div>
    </div>
    <hr class="tw-my-8" />
    <!-- {loading ? ( -->
    <!-- <p class="text-2xl font-bold text-gray-400">Loading...</p> -->
    <!-- ) : ( -->
    <div class="tw-flex tw-flex-row">
      <!-- <MainDisplayTable data={data} className="w-5/6" />
          <MainDisplaySidebar data={data} className="w-1/6" /> -->
      <%= render partial: "main/partials/main_display_table", locals: { data:
      @data} %> <%= render partial: "main/partials/main_display_sidebar",
      locals: { short: false } %>
    </div>
  </div>
</div>
