= form_with url: import_students_path, method: :post do |f|
    = f.file_field :file, accept: ".csv", class: "btn btn-primary bg-uospruple"
    = f.submit "Upload Students and Marks", class: "btn btn-primary bg-uospurple" 


