= form_with url: import_students_path, method: :post do |f|
    = f.file_field :file, accept: ".csv", class: "bg-white text-gray-700 py-1 border px-4 rounded-lg hover:bg-opacity-70 transition tw-mr-1"
    = f.submit "Upload Students and Marks", class: "bg-gray-200 text-gray-700 px-4 py-2 rounded-lg hover:tw-bg-secondary hover:text-white transition" 


