<div class = "card">
  
  <div class="body">
      <table class="table">
        <thead style="background-color: lightblue;">
          <th>
            Identifier
          </th>
          <th>
            Alert Information
          </th>
          <th>
            Redirect
          </th>
        </thead>
        <tbody>
          <% @notifications.each do |notification|%>
            <tr>
              <td><%= notification.identifier %></td>
              <td><%= notification.alert %></td>
              <td>
                <div class="btn-toolbar float-end">
                  <%# <%= link_to 'Show', , class: 'btn btn-outline-secondary btn-sm' %> 
                  <%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  

</div>
