.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        User Profile
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Username:
          %dd.col-md-9= @current_user.username
          %dt.col-md-3 Email:
          %dd.col-md-9= @current_user.email
        = link_to 'Edit', edit_current_user_path(@current_user), class: 'btn btn-link'
        = link_to 'Back', current_users_path, class: 'btn btn-link ms-auto'