// more custom styles

.hide-5s {
  -webkit-animation: fadeOutAnim 5s forwards;
  animation: fadeOutAnim 5s forwards;
}
.hide-3s {
  -webkit-animation: fadeOutAnim 3s forwards;
  animation: fadeOutAnim 3s forwards;
}
@keyframes fadeOutAnim {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutAnim {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.width-3s {
  -webkit-animation: widthAnim 3s forwards;
  animation: widthAnim 3s forwards;
}

@keyframes widthAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

// .print {
//   visibility: visible;
// }

// // create an animation to adjust the width of the progress bar
// // and do the reverse
// .width-1s-ease
